.movie-list {

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
  padding-top: 30px;

}
@media screen and (min-width: 768px) {
  .film-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
