body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #eeee;
}

header {
  background-color: #252525;
  padding: 20px;
  color: #fff;
  display: flex;
  align-items: center;
}

header a {
  color: #b10000;
  text-decoration: none;
}

#container {
  display: flex;
}

.sidebar {
  background-color: #000;
  width: 250px;
  padding: 0px;
  height: auto;
  position: relative;
}

.menu {
  background-color: #000;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-bottom: 0px;
}
.menu li button {
  width: 100%;
  font-size: 15px;
  margin: 0;
  border: none;
  padding: 10px;
  text-align: center;
  background-color: #0000;
}
.menu li button :hover {
  background-color: #b10000;
}

.menu input {
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
}
.menu li h3 {
  margin: 0;
  padding: 10px;
  text-align: center;
  color: #fff;
  background-color: #252525;
}
.menu li h4 {
  padding: 10px;
  margin: 0;
  color: #fff;
}

.menu a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.film-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
  padding: 30px;
}

.film-card {
  background-color: #cccc;
  color: #9d0000;
  padding: 20px;
  text-align: center;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

.film-card img {
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .film-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
